{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">Desktop/Notebook Tests</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'addTest' %}">Add a Test</a></li>
                <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'my_account' %}">My Account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'loginIndex' %}">Login</a></li>
                <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
      <div class="row">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
                {% endif %}
            {{ message }}
        </div>
            {% endfor %}
        {% endif %}
      </div>
      
      <div class="padtop-5"></div>
      <h1 class="text-center"><b>Submit a test</b></h1>

        <div class="row center-list-item padtop-5">
            <h3 class="text-center padtop-5">Desktop/Notebook Test Form</h3>
            <form class="col s12 form-horizontal" action="{% url 'createTest' %}" method="post">
                {% csrf_token %}

           <fieldset class="form-group">
             <label for="device_rating">Rating</label>
             <select class="form-control" id="device_rating" name="device_rating">
               <option value="0" selected>0</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
               <option value="10">10</option>
            </select>
           </fieldset>
           <br>
           <fieldset class="form-group">
             <label for="device_name">Model</label>
             <input type="text" class="form-control" name="device_name" placeholder="Enter text here">
           </fieldset>
           <br>
           <fieldset class="form-group">
             <label for="device_cpu">Desktop/Notebook CPU</label>
             <input type="text" class="form-control" name="device_cpu" placeholder="Enter text here">
           </fieldset>
           <br>
           <fieldset class="form-group">
             <label for="device_motherboard">Desktop/Notebook motherboard</label>
             <input type="text" class="form-control" name="device_motherboard" placeholder="Enter text here">
           </fieldset>
           <br>
           <fieldset class="form-group">
             <label for="device_hard_drive">Desktop/Notebook hard drive</label>
             <input type="text" class="form-control" name="device_hard_drive" placeholder="Enter text here">
           </fieldset>
           <br>
           <fieldset class="form-group">
             <label for="device_sound">Desktop/Notebook sound</label>
             <input type="text" class="form-control" name="device_sound" placeholder="Enter text here">
           </fieldset>
           <label>Does the sound work?</label>
           <div class="checkbox">
             <label>
               <input name="group3" type="checkbox">Pass
             </label>
             <br>
             <label>
               <input name="group4" type="checkbox">Fail
             </label>
           </div>
           <br>
           <fieldset class="form-group">
             <label for="device_display_name">Monitor model</label>
             <input type="text" class="form-control" name="device_display_name" placeholder="Enter text here">
           </fieldset>
           <fieldset class="form-group">
             <label for="device_display_config">Monitor configuration (i.e. 1024x1960)</label>
             <input type="text" class="form-control" name="device_display_config" placeholder="Enter text here">
           </fieldset>
           <label>Does the display work?</label>
           <div class="checkbox">
             <label>
               <input name="group5" type="checkbox">Pass
             </label>
             <br>
             <label>
               <input name="group6" type="checkbox">Fail
             </label>
           </div>
           <br>
           <fieldset class="form-group">
             <label for="device_dedicated_graphics">Graphics card/chipset</label>
             <input type="text" class="form-control" name="device_dedicated_graphics" placeholder="Enter text here">
           </fieldset>
           <label>Does the graphics card/chipset work?</label>
           <div class="checkbox">
             <label>
               <input name="group7" type="checkbox">Pass
             </label>
             <br>
             <label>
               <input name="group8" type="checkbox">Fail
             </label>
           </div>
           <br>
           <fieldset class="form-group">
             <label for="device_test_notes">Short note (up to 500 characters)</label>
             <textarea class="form-control" name="device_test_notes" id="device_test_notes" rows="5"></textarea>
           </fieldset>
           <br>
           <label>Does the desktop/notebook work on a whole?</label>
           <div class="checkbox">
             <label>
               <input name="group9" type="checkbox">Pass
             </label>
             <br>
             <label>
               <input name="group10" type="checkbox">Fail
             </label>
           </div>
           <br>

           <button type="submit" class="btn btn-primary padtop-2">Submit</button>
           <div class="padtop-5"></div>
         </form>
       </div>
      </div>
    </div>
  </body>
</html>
