{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">Desktop/Notebook Tests</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'addTest' %}">Add a Test</a></li>
                <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'loginIndex' %}">Login</a></li>
                <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
      <div class="row">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
                {% endif %}
            {{ message }}
        </div>
            {% endfor %}
        {% endif %}
      </div>
      
        <div class="padtop-5"></div>
        <h1 class="text-center"><b>Submit a test</b></h1>

        <div class="padtop-5"></div>
        <a href="{% url 'add_component' %}" class="btn btn-primary btn-lg btn-block" role="button">Submit a Component test</a>
        <br><br>
        <h3 class="text-center">OR</h3>
        <br><br>
        <a href="{% url 'add_device' %}" class="btn btn-primary btn-lg btn-block" role="button">Submit a Desktop/Notebook test</a>
      </div>
    </div>
  </body>
</html>
