{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">System Tests</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'addTest' %}">Add a Test</a></li>
            <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'my_account' %}">My Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'loginIndex' %}">Login</a></li>
            <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
            <li><a href="https://github.com/DarkmatterVale/Haiku-Configuration-Repo/issues">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
      <div class="row">
        {% if messages %}
            <br>
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
                {% endif %}
            {{ message }}
        </div>
            {% endfor %}
        {% endif %}
      </div>
      
      <div class="padtop-5"></div>
        <h1 class="text-center"><b>Submit a test -- Component test form</b></h1>

        <div class="row center-list-item padtop-5">
            <form class="col s12 form-horizontal" action="{% url 'createTest' %}" method="post">
                {% csrf_token %}
                
                <h3>Component Performance</h3>
                <div style="border: 1px solid grey; padding: 3rem;">
                    <div class="form-group">
                        <label for="component_rating">Rating</label>
                        <select class="form-control" name="component_rating">
                            <option value="" selected>Choose an Option</option>
                            <option value="0 - Doesn't work at all">0 - Doesn't work at all</option>
                            <option value="1 - Works occasionally">1 - Works occasionally</option>
                            <option value="2 - Works OK (works for every day tasks, but not perfectly)">2 - Works OK (works for every day tasks, but not perfectly)</option>
                            <option value="3 - Works well (works very well, but not every single feature is supported)">3 - Works well (works very well, but not every single feature is supported)</option>
                            <option value="4 - Works perfectly (every feature is supported)">4 - Works perfectly (every feature is supported)</option>
                        </select>
                    </div>
                    <br>
                    <fieldset class="form-group">
                        <label for="component_test_notes">Short note (Up to 500 Characters)</label>
                        <textarea class="form-control" name="component_test_notes" rows="5"></textarea>
                    </fieldset>
                    <br>
                    
                    <fieldset class="form-group">
                        <label>Did the component work?</label>
                        <div class="checkbox">
                            <label>
                                <input name="group1" type="checkbox">Pass
                            </label>
                            <br>
                            <label>
                                <input name="group2" type="checkbox">Fail
                            </label>
                        </div>
                    </fieldset>
                </div>
                <br>
           
                <h3>Component Details</h3>
                <div style="border: 1px solid grey; padding: 3rem;">
                    <fieldset class="form-group">
                        <label for="component_manufacturer">Manufacturer</label>
                        <input type="text" class="form-control" name="component_manufacturer" placeholder="Enter text here">
                        </fieldset>
                    <br>
                    <fieldset class="form-group">
                        <label for="component_name">Model</label>
                        <input type="text" class="form-control" name="component_name" placeholder="Enter text here">
                    </fieldset>
                    <br>
                    <fieldset class="form-group">
                        <label for="component_category">Type of device</label>
                        <select class="form-control" name="component_category">
                            <option value"" selected>Choose an Option</option>
                            <option value="CPU">CPU</option>
                            <option value="Display">Display</option>
                            <option value="Hard Drive">Hard Drive</option>
                            <option value="Keyboard">Keyboard</option>
                            <option value="Motherboard">Motherboard</option>
                            <option value="Mouse">Mouse</option>
                            <option value="Printer">Printer</option>
                            <option value="SSD">SSD</option>
                            <option value="Other">Other</option>
                        </select>
                    </fieldset>
                </div>
                <br>
           
                <h3>Haiku-related information</h3>
                <div style="border: 1px solid grey; padding: 3rem;">
                    <fieldset class="form-group">
                        <label for="component_haiku_revision">Haiku Revision</label>
                        <input type="text" class="form-control" name="component_haiku_revision" placeholder="Enter text here">
                    </fieldset>
                    <br>
                    <fieldset class="form-group">
                        <label for="component_haiku_architecture">Haiku Architecture</label>
                        <input type="text" class="form-control" name="component_haiku_architecture" placeholder="Enter text here">
                    </fieldset>
                </div>
                <br>
           
                <div class="padtop-2"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="padtop-5"></div>
           </form>
       </div>
      </div>
    </div>
  </body>
</html>
