{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">Device Tests</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'addTest' %}">Add a Test</a></li>
                <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'loginIndex' %}">Login</a></li>
              <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
      <div class="pad-item-list center-list-item row">
        <h2 class="text-center">{{ component_name }}</h2>
        <h3 class="text-center padtop-5">Tests</h3>
        {% for component in all_components %}
          <div class="collection">
            <p class="collection-item">{{ component.name }}
              {% if component.is_working == "Passed" %}
                <span class="new badge green"><b>Passed</b></span>
              {% else %}
                <span class="new badge red"><b>Failed</b></span>
              {% endif %}
              <span class="new rating-badge orange"><b>Rating: {{ component.rating }}</b></span>
            </a>
          </div>
          <h3 class="text-center padtop-5">Component Information</h3>
          <p><b>Component Category:</b> {{ component.category }}</p>
          <br>
          <p><b>Notes:</b> {{ component.notes }}</p>

          <h3 class="text-center padtop-5">Tester Information</h3>
          <p><b>Author:</b> {{ component.author }}</p>
          <p><b>Author's Email:</b> {{ component.author_email }}</p>
        {% endfor %}
      </div>
      <div class="padtop-5"></div>
    </div>
  </body>
</html>
