{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">System Tests</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'addTest' %}">Add a Test</a></li>
            <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'my_account' %}">My Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'loginIndex' %}">Login</a></li>
            <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
            <li><a href="https://github.com/DarkmatterVale/Haiku-Configuration-Repo/issues">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
        <div class="row">
            {% if messages %}
            <br>
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>

        <div class="padtop-5"></div>
        <h1 class="text-center"><b>System Tests</b></h1>
        <h3 class="text-center">All submitted system tests</h3>
        <div class="padtop-5"></div>

      <div class="padtop-2"></div>
      <div class="row">
        <form action="{% url 'sortDevices' %}" method="post">
          {% csrf_token %}
          <fieldset class="form-group">
            <input type="email" class="form-control" name="name_to_sort" placeholder="Sort Name">
            <small class="text-muted">Entries are only sortable by name</small>
          </fieldset>
        </form>
      </div>

      <div class="pad-item-list center-list-item row">
        {% for device in all_devices %}
          <div class="collection">
            <a href="{% url 'deviceDetail' device.id %}" class="collection-item">{{ device.name }}
              {% if device.is_working == "Passed" %}
                <span class="new badge green"><b>Passed</b></span>
              {% else %}
                <span class="new badge red"><b>Failed</b></span>
              {% endif %}
              <span class="new rating-badge orange"><b>Rating: {{ device.rating }}</b></span>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="padtop-5"></div>
    </div>
  </body>
</html>
