{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">Desktop/Notebook Tests</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'addTest' %}">Add a Test</a></li>
            <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'my_account' %}">My Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'loginIndex' %}">Login</a></li>
            <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
            <li><a href="https://github.com/DarkmatterVale/Haiku-Configuration-Repo/issues">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
        <div class="row">
            {% if messages %}
            <br>
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">
            {% endif %}
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        
        <div class="padtop-5"></div>
        <h1 class="text-center"><b>Haiku on <i>{{ device.name }}</i></b></h1>
        
        <div class="pad-item-list center-list-item row">
            <h2 class="padtop-5"><u><b>Summary</b></u></h2>
            <br>
            <table class="table table-striped table-bordered">
                <tr>
                    <td class="info">Name</td>
                    <td class="info">{{ device.name }}</td>
                </tr>
                <tr>
                    <td class="info">Manufacturer</td>
                    {% if device.manufacturer != "" %}
                    <td class="info">{{ device.manufacturer }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.is_working == "Passed" %}
                    <td class="success">Did the desktop/notebook work?</td>
                    <td class="success">{{ device.is_working }}</td>
                    {% else %}
                    <td class="success">Did the desktop/notebook work?</td>
                    <td class="success">Failed</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="warning">Rating</td>
                    <td class="warning">{{ device.rating }}</td>
                </tr>
            </table>

            <h2 class="padtop-5"><u><b>Details</b></u></h3>
            <br>
            <table class="table table-striped table-bordered">
                <tr>
                    <td class="info">Manufacturer</td>
                    {% if device.manufacturer != "" %}
                    <td class="info">{{ device.manufacturer }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="info">CPU</td>
                    {% if device.cpu != "" %}
                    <td class="info">{{ device.cpu }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="info">Motherboard</td>
                    {% if device.motherboard != "" %}
                    <td class="info">{{ device.motherboard }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="info">Hard drive</td>
                    {% if device.hard_drive != "" %}
                    <td class="info">{{ device.hard_drive }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="info">LAN network chipset</td>
                    {% if device.lan_network_chipset != "" %}
                    <td class="info">{{ device.lan_network_chipset }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="info">WLAN network chipset</td>
                    {% if device.wlan_network_chipset != "" %}
                    <td class="info">{{ device.wlan_network_chipset }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.does_usb2_work != "" %}
                    {% if device.does_usb2_work == "Failed" %}
                    <td class="danger">USB 2.0</td>
                    <td class="danger">{{ device.does_usb2_work }}</td>
                    {% else %}
                    <td class="success">USB 2.0</td>
                    <td class="success">{{ device.does_usb2_work }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.does_usb3_work != "" %}
                    {% if device.does_usb3_work == "Failed" %}
                    <td class="danger">USB 3.0</td>
                    <td class="danger">{{ device.does_usb3_work }}</td>
                    {% else %}
                    <td class="success">USB 3.0</td>
                    <td class="success">{{ device.does_usb3_work }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.does_optical_drive_work != "" %}
                    {% if device.does_optical_drive_work == "Failed" %}
                    <td class="danger">Optical drive</td>
                    <td class="danger">{{ device.does_optical_drive_work }}</td>
                    {% else %}
                    <td class="success">Optical drive</td>
                    <td class="success">{{ device.does_optical_drive_work }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.does_card_reader_work != "" %}
                    {% if device.does_card_reader_work == "Failed" %}
                    <td class="danger">Card reader</td>
                    <td class="danger">{{ device.does_card_reader_work }}</td>
                    {% else %}
                    <td class="success">Card reader</td>
                    <td class="success">{{ device.does_card_reader_work }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.is_sound_working != "" %}
                    {% if device.is_sound_working == "Failed" %}
                    <td class="danger">Sound</td>
                    <td class="danger">{{ device.sound }}</td>
                    {% else %}
                    <td class="success">Sound</td>
                    <td class="success">{{ device.sound }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.is_display_working != "" %}
                    {% if device.is_display_working == "Failed" %}
                    <td class="danger">Display</td>
                    <td class="danger">{{ device.display }}</td>
                    {% else %}
                    <td class="success">Display</td>
                    <td class="success">{{ device.display }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.is_display_working != "" %}
                    {% if device.is_display_working == "Failed" %}
                    <td class="danger">Display configuration</td>
                    <td class="danger">{{ device.display_configuration }}</td>
                    {% else %}
                    <td class="success">Display configuration</td>
                    <td class="success">{{ device.display_configuration }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if device.graphics_card_is_working != "" %}
                    {% if device.graphics_card_is_working == "Failed" %}
                    <td class="danger">Graphics card/chipset</td>
                    <td class="danger">{{ device.graphics_card }}</td>
                    {% else %}
                    <td class="success">Graphics card/chipset</td>
                    <td class="success">{{ device.graphics_card }}</td>
                    {% endif %}
                    {% else %}
                    <td>Not specified</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="info">Notes</td>
                    {% if device.notes != "" %}
                    <td class="info">{{ device.notes }}</td>
                    {% else %}
                    <td class="info">Not specified</td>
                    {% endif %}
                </tr>
            </table>

            <h2 class="padtop-5"><b><u>Tester Information</b></u></h2>
            <br>
            <table class="table table-bordered">
                <tr>
                    <td class="info">Author</td>
                    <td class="info">{{ device.author }}</td>
                </tr>
            </table>
        </div>
        <div class="padtop-5"></div>
    </div>
  </body>
</html>
