{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">System Tests</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'addTest' %}">Add a Test</a></li>
            <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'my_account' %}">My Account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'loginIndex' %}">Login</a></li>
            <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
            <li><a href="https://github.com/DarkmatterVale/Haiku-Configuration-Repo/issues">Feedback</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
        <div class="row">
            {% if messages %}
            <br>
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
      <div class="pad-item-list center-list-item row">
        <h2 class="text-center">Editing -- {{ device.name }}</h2>

        <form class="col s12" action="{% url 'saveDevice' device.id %}" method="post">
          {% csrf_token %}
          <h3 class="text-center padtop-5">System Information</h3>
          <div class="form-group">
              <label for="component_rating">Rating</label>
              <select class="form-control" name="device_rating">
                  <option value="" disabled>Choose an Option</option>
                  {% if device.rating == "0 - Doesn't work at all" %}
                  <option value="0 - Doesn't work at all" selected>0 - Doesn't work at all</option>
                  {% else %}
                  <option value="0 - Doesn't work at all">0 - Doesn't work at all</option>
                  {% endif %}
                  {% if device.rating == "1 - Works occasionally" %}
                  <option value="1 - Works occasionally" selected>Works occasionally</option>
                  {% else %}
                  <option value="1 - Works occasionally">Works occasionally</option>
                  {% endif %}
                  {% if device.rating == "2 - Works OK (works for every day tasks, but not perfectly)" %}
                  <option value="2 - Works OK (works for every day tasks, but not perfectly)" selected>2 - Works OK (works for every day tasks, but not perfectly)</option>
                  {% else %}
                  <option value="2 - Works OK (works for every day tasks, but not perfectly)">2 - Works OK (works for every day tasks, but not perfectly)</option>
                  {% endif %}
                  {% if device.rating == "3 - Works well (works very well, but not every single feature is supported)" %}
                  <option value="3 - Works well (works very well, but not every single feature is supported)" selected>3 - Works well (works very well, but not every single feature is supported)</option>
                  {% else %}
                  <option value="3 - Works well (works very well, but not every single feature is supported)">3 - Works well (works very well, but not every single feature is supported)</option>
                  {% endif %}
                  {% if device.rating == "4 - Works perfectly (every feature is supported)" %}
                  <option value="4 - Works perfectly (every feature is supported)" selected>4 - Works perfectly (every feature is supported)</option>
                  {% else %}
                  <option value="4 - Works perfectly (every feature is supported)">4 - Works perfectly (every feature is supported)</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <fieldset class="form-group">
              <label for="device_haiku_revision">Haiku Revision</label>
              <input type="text" class="form-control" name="device_haiku_revision" value="{{ device.haiku_revision }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label for="device_category">Category (desktop or notebook)</label>
              <input type="text" class="form-control" name="device_category" value="{{ device.category }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label for="device_haiku_architecture">Haiku Architecture</label>
              <input type="text" class="form-control" name="device_haiku_architecture" value="{{ device.haiku_arch }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label for="device_manufacturer">Manufacturer</label>
              <input type="text" class="form-control" name="device_manufacturer" value="{{ device.manufacturer }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_cpu">CPU:</label>
            <input type="text" class="form-control" name="device_cpu" value="{{ device.cpu }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_motherboard">Motherboard:</label>
            <input type="text" class="form-control" name="device_motherboard" value="{{ device.motherboard }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_hard_drive">Hard drive:</label>
            <input type="text" class="form-control" name="device_hard_drive" value="{{ device.hard_drive }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_sound">Sound</label>
            <input type="text" class="form-control" name="device_sound" value="{{ device.sound }}">
          </fieldset>
          <label>Does the sound work?</label>
          <div class="checkbox">
            {% if device.is_sound_working == "Passed" %}
              <label>
                <input name="group3" type="checkbox" checked>Pass
              </label>
              <br>
              <label>
                <input name="group4" type="checkbox">Fail
              </label>
            {% elif device.is_sound_working == "Failed" %}
              <label>
                <input name="group3" type="checkbox">Pass
              </label>
              <br>
              <label>
                <input name="group4" type="checkbox" checked>Fail
              </label>
            {% else %}
                <label>
                    <input name="group3" type="checkbox">Pass
                </label>
                <br>
                <label>
                    <input name="group4" type="checkbox">Fail
                </label>
            {% endif %}
          </div>
          <br>
          <fieldset class="form-group">
              <label for="device_lan_network_chipset">LAN network chipset</label>
              <input type="text" class="form-control" name="device_lan_network_chipset" value="{{ device.lan_network_chipset }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label for="device_wlan_network_chipset">WLAN network chipset</label>
              <input type="text" class="form-control" name="device_wlan_network_chipset" value="{{ device.wlan_network_chipset }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label>Do the USB2.0 ports work?</label>
              {% if device.does_usb2_work == "Passed" %}
              <div class="checkbox">
                  <label>
                      <input name="device_usb2_pass" type="checkbox" checked>Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_usb2_fail" type="checkbox">Fail
                  </label>
              </div>
              {% elif device.does_usb2_work == "Failed" %}
              <div class="checkbox">
                  <label>
                      <input name="device_usb2_pass" type="checkbox">Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_usb2_fail" type="checkbox" checked>Fail
                  </label>
              </div>
              {% else %}
                <label>
                    <input name="device_usb2_pass" type="checkbox">Pass
                </label>
                <br>
                <label>
                    <input name="device_usb2_fail" type="checkbox">Fail
                </label>
              {% endif %}
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label>Do the USB3.0 ports work?</label>
              {% if device.does_usb3_work == "Passed" %}
              <div class="checkbox">
                  <label>
                      <input name="device_usb3_pass" type="checkbox" checked>Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_usb3_fail" type="checkbox">Fail
                  </label>
              </div>
              {% elif device.does_usb3_work == "Failed" %}
              <div class="checkbox">
                  <label>
                      <input name="device_usb3_pass" type="checkbox">Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_usb3_fail" type="checkbox" checked>Fail
                  </label>
              </div>
              {% else %}
                <label>
                    <input name="device_usb3_pass" type="checkbox">Pass
                </label>
                <br>
                <label>
                    <input name="device_usb3_fail" type="checkbox">Fail
                </label>
              {% endif %}
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label>Does the card reader (SD, CF, MMC, etc) work?</label>
              {% if device.does_card_reader_work == "Passed" %}
              <div class="checkbox">
                  <label>
                      <input name="device_card_reader_pass" type="checkbox" checked>Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_card_reader_fail" type="checkbox">Fail
                  </label>
              </div>
              {% elif device.does_card_reader_work == "Failed" %}
              <div class="checkbox">
                  <label>
                      <input name="device_card_reader_pass" type="checkbox">Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_card_reader_fail" type="checkbox" checked>Fail
                  </label>
              </div>
              {% else %}
                <label>
                    <input name="device_card_reader_pass" type="checkbox">Pass
                </label>
                <br>
                <label>
                    <input name="device_card_reader_fail" type="checkbox">Fail
                </label>
              {% endif %}
          </fieldset>
          <br>
          <fieldset class="form-group">
              <label>Does the optical drive work?</label>
              <div class="checkbox">
                  {% if device.does_optical_drive_work == "Passed" %}
                  <label>
                      <input name="device_optical_drive_pass" type="checkbox" checked>Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_optical_drive_fail" type="checkbox">Fail
                  </label>
                  {% elif device.does_optical_drive_work == "Failed" %}
                  <label>
                      <input name="device_optical_drive_pass" type="checkbox">Pass
                  </label>
                  <br>
                  <label>
                      <input name="device_optical_drive_fail" type="checkbox" checked>Fail
                  </label>
                  {% else %}
                    <label>
                        <input name="device_optical_drive_pass" type="checkbox">Pass
                    </label>
                    <br>
                    <label>
                        <input name="device_optical_drive_fail" type="checkbox">Fail
                    </label>
                  {% endif %}
              </div>
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_display_config">Display configuration (i.e. 1960x1024)</label>
            <input type="text" class="form-control" name="device_display_config" value="{{ device.display_configuration }}">
          </fieldset>
          <fieldset class="form-group">
              <label>Does the display work?</label>
              <div class="checkbox">
                  {% if device.is_display_working == "Passed" %}
                  <label>
                      <input name="group5" type="checkbox" checked>Pass
                  </label>
                  <br>
                  <label>
                      <input name="group6" type="checkbox">Fail
                  </label>
                  {% elif device.is_display_working == "Failed" %}
                  <label>
                      <input name="group5" type="checkbox">Pass
                  </label>
                  <br>
                  <label>
                      <input name="group6" type="checkbox" checked>Fail
                  </label>
                  {% else %}
                  <label>
                      <input name="group5" type="checkbox">Pass
                  </label>
                  <br>
                  <label>
                      <input name="group6" type="checkbox">Fail
                  </label>
                  {% endif %}
              </div>
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_dedicated_graphics">Graphics card/chipset</label>
            <input type="text" class="form-control" name="device_dedicated_graphics" value="{{ device.graphics_card }}">
          </fieldset>
          <label>Does the graphics card/chipset work?</label>
          <div class="checkbox">
            {% if device.graphics_card_is_working == "Passed" %}
              <label>
                <input name="group7" type="checkbox" checked>Pass
              </label>
              <br>
              <label>
                <input name="group8" type="checkbox">Fail
              </label>
            {% elif device.graphics_card_is_working %}
              <label>
                <input name="group7" type="checkbox">Pass
              </label>
              <br>
              <label>
                <input name="group8" type="checkbox" checked>Fail
              </label>
            {% else %}
              <label>
                  <input name="group7" type="checkbox">Pass
              </label>
              <br>
              <label>
                  <input name="group8" type="checkbox">Fail
              </label>
            {% endif %}
          </div>
          <br>
          <fieldset class="form-group">
            <label for="device_notes">Notes:</label>
            <textarea class="form-control" name="device_notes" rows="5">{{ device.notes }}</textarea>
          </fieldset>
          <br>
          <label>Did the system work?</label>
          <div class="checkbox">
            {% if device.is_working == "Passed" %}
              <label>
                <input name="group9" type="checkbox" checked>Pass
              </label>
              <br>
              <label>
                <input name="group10" type="checkbox">Fail
              </label>
            {% elif device.is_working == "Failed" %}
              <label>
                <input name="group9" type="checkbox">Pass
              </label>
              <br>
              <label>
                <input name="group10" type="checkbox" checked>Fail
              </label>
            {% else %}
              <label>
                  <input name="group9" type="checkbox">Pass
              </label>
              <br>
              <label>
                  <input name="group10" type="checkbox">Fail
              </label>
            {% endif %}
          </div>

          <div class="padtop-5"></div>
          <button type="submit" class="btn btn-primary padtop-2">Save</button>
          <a href="{% url 'delete_device' device.id %}" class="btn btn-primary" role="button">Delete System test</a>
        </form>
      </div>
      <div class="padtop-5"></div>
    </div>
  </body>
</html>
