{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">Device Tests</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'addTest' %}">Add a Test</a></li>
                <li><a href="{% url 'myTests' %}">My Tests</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'loginIndex' %}">Login</a></li>
              <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
        <div class="row">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
      <div class="pad-item-list center-list-item row">
        <h2 class="text-center">Editing -- {{ device_name }}</h2>
        <h3 class="text-center padtop-5">Tests</h3>

        <div class="collection">
          <p class="collection-item">{{ device.name }}
            {% if device.is_working == "Passed" %}
              <span class="new badge green"><b>Passed</b></span>
            {% else %}
              <span class="new badge red"><b>Failed</b></span>
            {% endif %}
            <span class="new rating-badge orange"><b>Rating: {{ device.rating }}</b></span>
          </a>
        </div>

        <form class="col s12" action="{% url 'saveDevice' device.id %}" method="post">
          {% csrf_token %}
          <h3 class="text-center padtop-5">Device Information</h3>
          <fieldset class="form-group">
            <label for="device_cpu">CPU:</label>
            <input type="text" class="form-control" name="device_cpu" placeholder="{{ device.cpu }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_motherboard">Motherboard:</label>
            <input type="text" class="form-control" name="device_motherboard" placeholder="{{ device.motherboard }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_hard_drive">Hard Drive:</label>
            <input type="text" class="form-control" name="device_hard_drive" placeholder="{{ device.hard_drive }}">
          </fieldset>
          <br>
          <fieldset class="form-group">
            <label for="device_sound">Sound</label>
            <input type="text" class="form-control" name="device_sound" placeholder="{{ device.sound }}">
          </fieldset>
          <label>Does the sound work?</label>
          <div class="checkbox">
            {% if device.is_sound_working == "Passed" %}
              <label>
                <input name="group3" type="checkbox" checked>Pass
              </label>
              <br>
              <label>
                <input name="group4" type="checkbox">Fail
              </label>
            {% else %}
              <label>
                <input name="group3" type="checkbox">Pass
              </label>
              <br>
              <label>
                <input name="group4" type="checkbox" checked>Fail
              </label>
            {% endif %}
          </div>
          <br>
          <fieldset class="form-group">
            <label for="device_display_name">Device Display Name</label>
            <input type="text" class="form-control" name="device_display_name" placeholder="{{ device.display }}">
          </fieldset>
          <fieldset class="form-group">
            <label for="device_display_config">Device Display Configuration</label>
            <input type="text" class="form-control" name="device_display_config" placeholder="{{ device.display_configuration }}">
          </fieldset>
          <label>Does the display work?</label>
          <div class="checkbox">
            {% if device.is_display_working == "Passed" %}
              <label>
                <input name="group5" type="checkbox" checked>Pass
              </label>
              <br>
              <label>
                <input name="group6" type="checkbox">Fail
              </label>
            {% else %}
              <label>
                <input name="group5" type="checkbox">Pass
              </label>
              <br>
              <label>
                <input name="group6" type="checkbox" checked>Fail
              </label>
            {% endif %}
          </div>
          <br>
          <fieldset class="form-group">
            <label for="device_dedicated_graphics">Device Graphics Card</label>
            <input type="text" class="form-control" name="device_dedicated_graphics" placeholder="{{ device.graphics_card }}">
          </fieldset>
          <label>Does the dedicated graphics card work?</label>
          <div class="checkbox">
            {% if device.graphics_card_is_working == "Passed" %}
              <label>
                <input name="group7" type="checkbox" checked>Pass
              </label>
              <br>
              <label>
                <input name="group8" type="checkbox">Fail
              </label>
            {% else %}
              <label>
                <input name="group7" type="checkbox">Pass
              </label>
              <br>
              <label>
                <input name="group8" type="checkbox" checked>Fail
              </label>
            {% endif %}
          </div>
          <br>
          <fieldset class="form-group">
            <label for="device_notes">Notes:</label>
            <textarea class="form-control" name="device_notes" rows="5">{{ device.notes }}</textarea>
          </fieldset>
          <br>
          <label>Did the device work?</label>
          <div class="checkbox">
            {% if device.is_working == "Passed" %}
              <label>
                <input name="group9" type="checkbox" checked>Pass
              </label>
              <br>
              <label>
                <input name="group10" type="checkbox">Fail
              </label>
            {% else %}
              <label>
                <input name="group9" type="checkbox">Pass
              </label>
              <br>
              <label>
                <input name="group10" type="checkbox" checked>Fail
              </label>
            {% endif %}
          </div>

          <h3 class="text-center padtop-5">Tester Information</h3>
          <p><b>Author:</b> {{ device.author }}</p>
          <p><b>Author's Email:</b> {{ device.author_email }}</p>

          <div class="padtop-5"></div>
          <button type="submit" class="btn btn-primary padtop-2">Submit</button>
        </form>
      </div>
      <div class="padtop-5"></div>
    </div>
  </body>
</html>
