{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
                <li><a href="{% url 'deviceList' %}">Desktop/Notebook Tests</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'addTest' %}">Add a Test</a></li>
                    <li><a href="{% url 'myTests' %}">My Tests</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'my_account' %}">My Account</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'loginIndex' %}">Login</a></li>
                    <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
        <div class="row">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        
        
        <div class="pad-item-list center-list-item row">
            <h2 class="form-signin-heading">My Account</h2>
            <div class="padtop-5"></div>
            
            <form class="col s12" action="{% url 'edit_account' %}" method="post">
                {% csrf_token %}
                
                <div style="border: 1px solid grey; padding: 2rem;">
                    <fieldset class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" placeholder="{{ current_user.username }}" disabled>
                    </fieldset>
                    <br>
                
                    <fieldset class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="{{ current_user.email }}" disabled>
                    </fieldset>
                </div>
                <br><br>
            
                <h3>Change your password</h3>
                <div style="border: 1px solid grey; padding: 2rem;">
                    <fieldset class="form-group">
                        <label for="new_password">New password</label>
                        <input type="password" name="new_password" id="new_password" class="form-control" placeholder="">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="new_password_conf">Confirm new password</label>
                        <input type="password" name="new_password_conf" id="new_password_conf" class="form-control" placeholder="">
                    </fieldset>
                </div>
                <div class="padtop-5"></div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Save settings</button>
            </form>
            
            <div class="padtop-5"></div>
        </div> <!-- /container -->
    </div>
  </body>
</html>
