{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shijin4.css' %}">

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Haiku's Configuration Repo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'componentList' %}" class="active">Component Tests</a></li>
            <li><a href="{% url 'deviceList' %}">Device Tests</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'loginIndex' %}">Login</a></li>
            <li><a href="{% url 'signup_index' %}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="padtop-5"></div>
    <div id="page">
      <div class="pad-item-list center-list-item row">
        <form class="col s12" action="{% url 'authenticateSignUp' %}" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up</h2>
            <input type="email" name="signup_username" class="form-control" placeholder="Username" required autofocus>
            <small class="text-muted">*Required</small>
            <br><br>
            
            <input type="email" name="signup_email" class="form-control" placeholder="Email Address" required>
            <small class="text-muted">*Required</small>
            <br><br>
            
            <input type="password" name="signup_password" class="form-control" placeholder="Password" required>
            <small class="text-muted">*Required</small>
            <br><br>
            <input type="password" name="confirmation_password" class="form-control" placeholder="Confirm Password" required>
            <small class="text-muted">*Required</small>
            <br><br>
                      
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <div class="padtop-5"></div>
        </form>
      </div> <!-- /container -->
    </div>
  </body>
</html>
