{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'repo/materialize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'repo/main.css' %}" />

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="{% url 'repo:index' %}" class="large-font"><b>Haiku's Config Repository</b></a>

            <div class="right-nav">
              <a href="{% url 'repo:componentList' %}" class="btn-flat blue"><b>Component Tests</b></a>
              <a href="" class="btn-flat blue"><b>Device Tests</b></a>
              <a href="{% url 'repo:addTest' %}" class="btn-flat blue"><b>Add a Test</b></a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="row padtop-5">
      <h4 class="center-align">Welcome to the device list!</h4>
      <h5 class="center-align">This page contains all of the tests that have been run on full setups</h5>
    </div>

    <div class="pad-item-list center-list-item row" id="tests">
      {% for component in all_components %}
        <div class="collection">
          <a href="#!" class="collection-item">{{ component.name }}
            {% if component.is_working == "Passed" %}
              <span class="new badge green"><b>Passed</b></span>
            {% else %}
              <span class="new badge red"><b>Failed</b></span>
            {% endif %}
            <span class="new rating-badge orange"><b>Rating: {{ component.rating }}</b></span>
          </a>
        </div>
      {% endfor %}
    </div>
    </div>
  </body>
</html>
