{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'repo/materialize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'repo/main.css' %}" />

    <title>Haiku's Configuration Repository</title>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a href="" class="large-font"><b>Haiku's Config Repository</b></a>

            <div class="right-nav">
              <a href="{% url 'repo:componentList' %}" class="btn-flat blue"><b>Component Tests</b></a>
              <a href="{% url 'repo:deviceList' %}" class="btn-flat blue"><b>Device Tests</b></a>
              <a href="{% url 'repo:addTest' %}" class="btn-flat blue"><b>Add a Test</b></a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="row padtop-5">
      <h4 class="center-align">Welcome to the Haiku's Hardware Configuration Repository!</h4>
      <h5 class="center-align padtop-2">To add a configuration, select the "ADD A TEST" link in the navbar.</h5>
      <h5 class="center-align padtop-2">In addition, you can see tests and their details by clicking the other links on the navbar</h5>
    </div>
  </body>
</html>
